.button {
	position: relative;

	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	text-align:center;
	text-decoration: none;
	font-family: $font;

	border: 0px;
	border-radius: 0px;

	cursor:pointer;
	appearance: none;
	outline: none;
	transition: all linear 0.3s;
}

.social {
	display: flex;
	margin-left: 35px;

	&__item {
		display: block;
		width: 23px;
		margin-right: 35px;

		&:last-child {
			margin-right: 0;
		}

		img {
			max-height: 21px;
			max-width: 21px;
		}
	}
}

.text {
	padding: 45px 0 80px;

	@include maxw(850px) {
		padding: 40px 0 80px;
	}

	@include maxw(640px) {
		padding: 20px 0 40px;
	}

	&__section {
		margin-bottom: 75px;

		@include maxw(640px) {
			margin-bottom: 40px;
		}
	}

	&__title {
		margin-bottom: 50px;
		font-size: 45px;

		@include maxw(850px) {
			margin-bottom: 40px;
		}

		@include maxw(640px) {
			font-size: 30px;
			margin-bottom: 20px;
		}
	}

	&__desc {
		p {
			margin-bottom: 25px;

			@include maxw(640px) {
				font-size: 15px;
				margin-bottom: 15px;
			}
		}
	}
}