<!-- Project -->
<section class="project">
	<div class="content">
		<div class="project__video">
			<iframe width="100%" height="100%" src="https://www.youtube.com/embed/2hX-Urf3U5c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<div class="project__main">
			<h1 class="project__title">Betta</h1>

			<div class="project__desc">
				<p>In nature, some species attrac t attention with an elaborate display of colour and dance; others intimidate or camouflage using metachrosis, the process of rapidly changing pigmentation and design. </p>

				<p>In this CG animated film we explore an alternative take on the Betta fish, also known as the Siamese fighting fish, which are naturally aggressive and highly territorial creatures. Here competition is not in a battleground but through display, with synchronised movement and colour.</p>
			</div>

			<div class="gallery">
				<div class="gallery__item gallery__big">
					<img src="img/content/general/test-img.jpg" alt="">
				</div>
				<div class="gallery__item">
					<img src="img/content/general/test-img.jpg" alt="">
				</div>
				<div class="gallery__item">
					<img src="img/content/general/test-img.jpg" alt="">
				</div>
				<div class="gallery__item">
					<img src="img/content/general/test-img.jpg" alt="">
				</div>
				<div class="gallery__item">
					<img src="img/content/general/test-img.jpg" alt="">
				</div>
				<div class="gallery__item gallery__big">
					<img src="img/content/general/test-img.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</section>