<!-- Carrerrs -->
<section class="careers text">
	<div class="content">
		<div class="text__section">
			<h1 class="text__title">Careers</h1>

			<div class="text__desc">
				<p>We are driven to create the best team of artists and designers to join forces and craft world class visuals.</p>

				<p>Whether partnering with top global talent for specific projects or joining our full time team in our London studio, we are actively seeking for the next superstar designers.</p>

				<p>Regardless of what stage of your journey you are at, if you have the right passion, talent and attitude, get in touch with us, we would love to hear from you.</p>
			</div>
		</div>

		<div class="jobs">
			<h2 class="jobs__title">Open Opportunities</h2>

			<div class="jobs__list">
				<a href="#" class="jobs__item">
					<span>Senior Designer</span>
				</a>
				<a href="#" class="jobs__item">
					<span>Designer</span>
				</a>
				<a href="#" class="jobs__item">
					<span>Freelance</span>
				</a>
			</div>
		</div>
	</div>
</section>