<div id="ex1" class="modal popup carrers-popup">
    <h2>Senior Designer</h2>

    <p>Lorem ipsum dolor sit amet consectetur. Congue massa fames placerat et fermentum vestibulum sit vitae. Donec egestas tellus consectetur sed cras. Dignissim massa enim suscipit malesuada elit diam tempus odio. Felis quam placerat dignissim orci. Pulvinar magna sagittis pellentesque orci risus nulla eu lacus. Eu mollis mattis pharetra velit. Facilisis lobortis sed massa in nibh posuere.</p>

    <p> Nunc sit fames nisi aliquam in. Egestas etiam vitae proin dictum sagittis. Metus malesuada parturient at commodo donec. Arcu senectus volutpat aenean sed orci. Est libero viverra sit mi egestas nulla lacus viverra.</p>

    <ul>
        <li>Vel dolor facilisi dui mi scelerisque pellentesque. </li>
        <li>Odio bibendum congue dui volutpat sit amet nunc. </li>
        <li>Et tortor donec nisl nunc eget convallis fringilla dui. </li>
        <li>Elementum diam orci tortor amet quam ante consequat in pulvinar.</li>
    </ul>

    <p>Ut non lectus tincidunt arcu. Placerat scelerisque tortor suspendisse sapien. Ut lorem quis sed nisl sed amet nunc. Vitae quam aliquam at mauris duis quisque. Sed cras turpis at phasellus pellentesque. Rhoncus in nulla ut libero orci donec. Scelerisque sed massa iaculis quis. Sagittis arcu aliquam tristique risus.</p>

    <p>To apply please email Jack Hunter at <a href="#">JACK@MANOR.STUDIO</a></p>
</div>