<!-- Studio -->
<section class="studio text">
	<div class="content">
		<div class="text__section">
			<h1 class="text__title">Studio</h1>

			<div class="text__desc">
				<p>MANOR is a creative studio of like-minded designers, artists and animators, passionate about making engaging work with impact.</p>

				<p>Operating in the space between the brand and the audience, we visualise and communicate concepts and narratives, solve creative problems and breathe life into ideas. Always pushing forward, never settling, we observe closely and research thoroughly to understand the needs of the client and deliver what we promise.</p>

				<p>With a relentless pursuit of the striking, the beautiful, and the engaging design, we create worlds and cultivate desire. This is the engine of the company and what makes us tick.</p>
			</div>
		</div>

		<div class="text__section">
			<h2 class="text__title">Clients</h2>

			<div class="text__desc">
				<p>From our studio in London we partner, collaborate and forge strong working relationships with brands of all sizes; from some of the world’s largest and most respected companies to startups with a vision.</p>
			</div>
		</div>

		<div class="clients">
			<a href="#" class="clients__item">
				<img src="img/content/clients/clients-1.png" alt="">
			</a>
			<a href="#" class="clients__item">
				<img src="img/content/clients/clients-2.png" alt="">
			</a>
			<a href="#" class="clients__item">
				<img src="img/content/clients/clients-3.png" alt="">
			</a>
			<a href="#" class="clients__item">
				<img src="img/content/clients/clients-4.png" alt="">
			</a>
			<a href="#" class="clients__item">
				<img src="img/content/clients/clients-5.png" alt="">
			</a>
			<a href="#" class="clients__item">
				<img src="img/content/clients/clients-6.png" alt="">
			</a>
			<a href="#" class="clients__item">
				<img src="img/content/clients/clients-7.png" alt="">
			</a>
			<a href="#" class="clients__item">
				<img src="img/content/clients/clients-8.png" alt="">
			</a>
		</div>
	</div>
</section>