<!-- Works -->
<section class="works">
	<div class="content">
		<h1 class="works__title">A creative studio of visual artists, designers and animators; crafting worlds and bringing ideas to life.</h1>

		<div class="works__list">
			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Microsoft</a></h2>
				<p class="works__desc">Versatile, balanced and extraordinary; showcasing the next generation of Surface products</p>
			</div>

			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Baume Et Mercier</a></h2>
				<p class="works__desc">Celebrating the three iconic shapes of the luxury watch brand</p>
			</div>

			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Db Eyewear</a></h2>
				<p class="works__desc">Style meets technology for the Tokyo Story</p>
			</div>

			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Betta</a></h2>
				<p class="works__desc">Re-imagining the world of the Siamese fighting fish</p>
			</div>

			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Baume Et Mercier</a></h2>
				<p class="works__desc">Riviera: the evolution of a brand icon</p>
			</div>

			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Aesop</a></h2>
				<p class="works__desc">Introducing Othertopias; a trio of fragrances from worlds within worlds</p>
			</div>

			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Life Of Statues</a></h2>
				<p class="works__desc">A quirky take on our historical and inanimate friends</p>
			</div>

			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Surface Go 3</a></h2>
				<p class="works__desc">Bringing to life the most portable 2-in-1 Surface</p>
			</div>

			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Mango</a></h2>
				<p class="works__desc">Showcasing “MNG IMPROVED” the technologically enhanced apparel</p>
			</div>

			<div class="works__item">
				<a href="#" class="works__img">
					<img src="img/content/general/test-img.jpg" alt="">
				</a>
				<h2 class="works__name"><a href="#">Cannonball</a></h2>
				<p class="works__desc">BExploring the Couroupita Guianensis, better known as the “Cannonball Tree”</p>
			</div>
		</div>
	</div>
</section>