svg {
    flex-shrink: 0;
    display: block;
    width: 0;
    height: 0;
    transition: .3s all;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background: $gray;
    color: $black;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

html {
	overflow-y: scroll;
}


body {
    font-size: 16px;
    height: 100%;

    &.active {
        height: 100vh;
        overflow-y: hidden;
    }
}


h1 {
    font-family: $font;
    font-size: 45px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @include maxw(640px) {
        font-size: 30px;
    }
}

h2 {
    font-size: 35px;
    line-height: 1.31;
    font-weight: 400;
    text-transform: uppercase;

    @include maxw(640px) {
        font-size: 24px;
    }
}

h3 {}

h4 {}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
    transition: .3s all;
}

ul {
    list-style: none;

    li {
        position: relative;

        &:last-child {
            margin-bottom: 0;
            margin-right: 0;
        }

    }
}

ol {
    margin: 0;

    li {

        &:last-child {
            margin-bottom: 0;
        }
    }
}

p {
    font-size: 21px;
    line-height: 1.33;
    font-weight: 300;

    @include maxw(640px) {
        font-size: 15px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}


input,
textarea {
    display: inline-block;
    width: 100%;
    height: 60px;
    padding: 0 20px;

    background-color: $white;
    color: $black_a;
    border: 1px solid transparent;

    font-family: $font;
    font-size: 15px;
    font-weight: 300;
    text-align: left;

    border-radius: 10px;
    box-sizing: border-box;

    appearance: none;
    resize: none;
    outline: none;
    transition: all linear 0.1s;

    &::placeholder {
        color: $gray;
    }

    &:focus {
        background-color: $white;
        border: 1px solid $white;
    }
}

input:focus {
    background-color: $white;
}

input::placeholder {
    color: #A6AEB9;
    opacity: 1;
}

input,
textarea,
select,
input:active,
textarea:active {
    outline: none transparent !important;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
    font-family: $font;
}

textarea {
    overflow: auto;
    min-height: 150px;
    padding: 20px;
}

input[type=submit],
button[type=submit],
input[type=reset],
button[type=reset],
input[type=radio],
input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
}

a:active,
a:focus,
div:active,
div:focus,
button:active,
button:focus {
    outline: 0 !important;
    outline-color: transparent !important;
    outline-width: 0 !important;
    outline-style: none !important;
    -webkit-tap-highlight-color: transparent !important;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: $font;
}

.inner {
    width: 100%;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;

    @include maxw(640px) {
        display: flex;
        flex-direction: column;
    }

    &.inner-black {
        background: $black;
    }
}

.wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 215px;

    @include maxw(640px) {
        padding-bottom: 0;
        min-height: auto;
    }
}

.footer {
    height: 215px;
    margin-top: -215px;
    background-color: $black;

    @include maxw(640px) {
        height: auto;
        margin-top: auto;

    }
}

.content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    z-index: 5;

    @include maxw(1000px) {
        padding: 0 30px;
    }

    @include maxw(640px) {
        padding: 0 20px;
    }
}

.img {
    display: flex;
    overflow: hidden;
    position: relative;

    img {
        display: block;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

img {
    display: block;
    width: 100%;
}

.page-link {
    display: block;
    padding: 15px 30px;
}