.studio {
  padding-bottom: 0;

  @include maxw(576px) {
    padding-top: 30px;
  }
}

.clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 113px;
    margin-bottom: 80px;

    @include maxw(1000px) {
      margin-bottom: 60px;
      height: 40px;
      width: 22%;
    }

    @include maxw(576px) {
      // width: 30%;
      // height: 50px;

      width: 48%;
      height: 50px;
    }

    @include maxw(420px) {
      width: 48%;
      height: 50px;
      padding: 0 20px;
    }

    img {
      width: auto;
      max-width: 100%;
      max-height: 100%;

      @include maxw(1000px) {
        max-width: 130px;
      }
    }
  }
}
